body {
	background-color: #fafafa;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-align: left;
}

footer {
	background-color: rgb(224, 112, 75);
}

.nav-wrapper {
	background: rgb(224, 112, 75);
}

.brand-logo {
	width: 85px;
	height: auto;
}

#resizeCard {
	width: 800px;
	height: auto;
	padding: 50px;
}

section {
	padding-top: 8em;
	padding-bottom: 5em;
}

body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 150%;
}

h1 {
	font-size: 40px;
}

nav .nav-wrapper {
	position: relative;
	height: 150%;
}

.answers {
	display: flex;
	justify-content: space-between;
	text-align: center;
}
/* .answerEgg {
	display: flex;
	justify-content: space-between;
} */
.action {
	margin-top: 3em;
	/* padding-top: 3em;
	padding-bottom: 3em; */
	/* transform: translate3d(0, 0, 0) rotate(0deg);
	transform-origin: center 60% !important;
	animation-name: wobble;
	animation-duration: 10s;
	animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation-iteration-count: infinite; */
}

.answerEgg {
	/* margin-top: 3em; */
	/* padding-top: 3em;
	padding-bottom: 3em; */
}
