body {
	background-color: #fafafa;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-align: left;
}

.nav-wrapper {
	background: rgb(224, 112, 75);
}

.brand-logo {
	width: 85px;
	height: auto;
}

#resizeCard {
	width: 800px;
	height: auto;
	padding: 50px;
}

section {
	padding-top: 8em;
	padding-bottom: 5em;
}

body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 150%;
}

h1 {
	font-size: 40px;
}

nav .nav-wrapper {
	position: relative;
	height: 150%;
}

.answers {
	display: flex;
	justify-content: space-between;
	text-align: center;
}
/* .answerEgg {
	display: flex;
	justify-content: space-between;
} */

.action {
	margin-top: 3em;
	transform-origin: center 60% !important;
	animation-name: wobble;
	animation-duration: 4s;
	animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation-iteration-count: infinite;
}

@keyframes wobble {
	0% {
		transform: translate3d(0, 0, 0) rotate(-10deg);
	}
	50% {
		transform: translate3d(0, 0, 0) rotate(10deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(-10deg);
	}
}

.answerEgg {
	/* margin-top: 3em; */
	/* padding-top: 3em;
	padding-bottom: 3em; */
}

#footerSection {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 13px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin-bottom: 20%;
}

h4 {
	font-size: 20px;
	margin: 0 0 8px;
}

span {
	font-size: 13px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
	background-color: rgb(224, 112, 75);
	padding: 10% 5%;
	margin-top: 0%;
	padding-bottom: 20%;
}

p {
	font-size: 13px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	width: 800px;
	height: auto;
	padding: 50px;
	display: block;
}

#startsentence {
	font-size: 25px;
	font-family: 'Ubuntu', sans-serif;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
/* 
#c {
	display: block;
	width: 80vw;
	height: 80vh;
	opacity: 0.5;
	z-index: -1;
} */
